PyQt5==5.15.0
lxml
glyphsLib
darkdetect
git+git://github.com/simoncozens/glyphsLib@with-fixes#egg=glyphsLib
git+git://github.com/simoncozens/glyphtools#egg=glyphtools
git+git://github.com/simoncozens/fontfeatures.git#egg=fontfeatures
